<div class="container-fluid mt-3">
  <!--Title-->
  @if (isAdmin) {
  <div class="col-12 d-flex wrapper-pulsanti">
    <button (click)="openBundleAssign()" class="btn btn-sm btn-outline-primary">
      <i class="fa-solid fa-boxes-packing"></i>
      <span class="ms-1">Assegna Bundle</span>
    </button>
    <button (click)="openPcAssign()" class="btn btn-sm btn-outline-primary ms-2">
      <i class="fa-solid fa-laptop"></i>
      <span class="ms-1">Assegna Pc</span>
    </button>
    <button
      (click)="openAccessoryAssign()"
      class="btn btn-sm btn-outline-primary ms-2"
    >
      <i class="fa-solid fa-computer-mouse"></i>
      <span class="ms-1">Assegna Accessori</span>
    </button>
  </div>
  }

  <div class="mt-2 wrapper-anagrafica">
    <h3>Dati studente:</h3>
  </div>

  <!--Name, Surname, Course, DoB -->
  <div class="col mt-2 wrapper-anagrafica">
    <!--Name-->
    <div class="d-flex col-8 m-2">
      <h5 class="text-body-secondary">Nome:</h5>
      <h5 class="ms-2">{{ student.name }}</h5>
    </div>

    <!--Surname-->
    <div class="d-flex col-8 m-2">
      <h5 class="text-body-secondary">Cognome:</h5>
      <h5 class="ms-2">{{ student.surname }}</h5>
    </div>
    <!--Course-->
    <div class="d-flex col-8 m-2">
      <h5 class="text-body-secondary">Course:</h5>
      <h5 class="ms-2">{{ student.course.shortName }}</h5>
    </div>

    <!-- Fiscal Code -->
    <div class="d-flex col-8 m-2">
      <h5 class="text-body-secondary">Fiscal Code:</h5>
      <h5 class="ms-2">{{ student.fiscalCode }}</h5>
    </div>
  </div>

  <!-- Hidden Data -->
  <button
    class="btn btn-primary mt-4"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#contenutoNascosto"
  >
    Mostra altro
  </button>
  <div class="collapse mt-3 data-wrapper" id="contenutoNascosto">
    <hr class="mb-5" />
    <!-- User Email -->
    <div class="d-flex col">
      <h5 class="text-body-secondary">Email:</h5>
      <h5 class="ms-2">{{ student.emailUser }}</h5>
    </div>

    <!-- School Identifier -->
    <div class="d-flex col">
      <h5 class="text-body-secondary">Matricola:</h5>
      <h5 class="ms-2">{{ student.schoolIdentifier }}</h5>
    </div>

    <!-- Course Code-->
    <div class="d-flex col">
      <h5 class="text-body-secondary">Codice corso:</h5>
      <h5 class="ms-2">CLED</h5>
    </div>

    <!-- status -->
    <div class="d-flex col">
      <h5 class="text-body-secondary">Status:</h5>
      <h5 class="ms-2">{{ student.status }}</h5>
    </div>

    <!-- Birth -->
    <h3 class="text-body-primary mt-5 fst-italic">Dati di nascita:</h3>
    <!--Date of Birth-->
    <div class="d-flex col">
      <h5 class="text-body-secondary">Data di nascita:</h5>
      <h5 class="ms-2">{{ student.dateOfBirth }}</h5>
    </div>

    <!-- Country of Birth -->
    <div class="d-flex col">
      <h5 class="text-body-secondary">Stato di nascita:</h5>
      <h5 class="ms-2">{{ student.birthCountry }}</h5>
    </div>

    <!-- City of Birth -->
    <div class="d-flex col">
      <h5 class="text-body-secondary">Città di nascita:</h5>
      <h5 class="ms-2">{{ student.birthCity }}</h5>
    </div>

    <!-- Residency -->
    <h3 class="text-body-primary mt-5 fst-italic">Dati residenza:</h3>
    <!-- Country -->
    <div class="d-flex col">
      <h5 class="text-body-secondary">Stato residenza:</h5>
      <h5 class="ms-2">{{ student.residenceCountry }}</h5>
    </div>

    <!-- City -->
    <div class="d-flex col">
      <h5 class="text-body-secondary">Città residenza:</h5>
      <h5 class="ms-2">{{ student.residenceCity }}</h5>
    </div>
    <hr class="mt-5" />
  </div>

  <!-- PC TABLE -->
  <div class="row mt-5 mb-5 tabella-pc">
    <h4 class="text-body-primary">PC:</h4>
    <table class="table tabella-pc">
      <thead>
        <tr>
          <th scope="col">Modello</th>
          <th scope="col">Seriale</th>
          <th scope="col">Cespite</th>
          <th scope="col">Data di Consegna</th>
          <th scope="col">Azioni</th>
        </tr>
      </thead>
      <tbody>
        @for (ass of student.pcAssignments; track $index) {
        <tr>
          <td>{{ ass.pc.stock?.brand }}</td>
          <td>{{ ass.pc.serial }}</td>
          <td>{{ ass.pc.propertySticker }}</td>
          <td>{{ ass.assignmentDate | date : "dd/MM/yyyy" }}</td>
          <td>
            <button (click)="returnPc(ass)" class="btn btn-outline-danger">
              <i class="fas fa-rotate-left"></i>
              <span class="ms-1">Restituzione</span>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  <!-- ACCESSORIES -->
  <div class="row mt-2 tabella-acc">
    <h4 class="text-body-primary">Accessori:</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Data di consegna</th>
          <th scope="col">Azioni</th>
        </tr>
      </thead>
      <tbody>
        @for (ass of student.accessoryAssignments; track $index) {
        <tr>
          <td>{{ ass.accessory.name }}</td>
          <td>{{ ass.assignmentDate | date : "dd/MM/yyyy" }}</td>
          <td>
            <button (click)="returnAccessory(ass)" class="btn btn-outline-danger">
              <i class="fas fa-return"></i>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  @if (!isAdmin) {
  <div class="row mt-2">
    <h5>TICKETS</h5>
    <div class="col-12 wrapper-pulsanti">
      <button (click)="openNewTicket()" class="btn btn-sm btn-outline-primary">
        <i class="fa-solid fa-ticket"></i>
        <span class="ms-1">Apri ticket</span>
      </button>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12">
      <app-work-in-progress></app-work-in-progress>
    </div>
  </div>
  }
</div>
