<div class="container my-4">
    <button type="button" class="btn-close mb-3" aria-label="Close" (click)="activeModal.close()"></button>
    <form action="" method="post" class="d-grid border-3 w-100">
        <h5 class="card-subtitle">Studente: {{ student.name }}</h5>
        <div class="form-group mb-3">
            <h5 class="card-subtitle ">Email: {{ student.emailUser }}</h5>
        </div>
        <div class="row">
            <div class=" col form-group mt-2">
                <label for="exampleFormControlSelect1">Codice Accessorio</label>
                <select class="form-control w-100" id="exampleFormControlSelect1" [(ngModel)]="accessoryAssignment.accessoryId">
                    @for (acc of accessoryItems; track $index) {
                        <option>{{ acc.id }}</option>
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col form-group mt-4">
                <label for="assignmentDate">Data Assegnamento</label> <br>
                <input autocomplete=off type="date" name="assignmentDate" id="assignmentDate" class="w-100 form-control" [(ngModel)]="accessoryAssignment.assignmentDate">
            </div>
            <div class="col form-group mt-4">
                <label for="assignmentDate" class="">Ritorno entro</label> <br>
                <input autocomplete=off type="date" name="assignmentDate" id="assignmentDate" class="w-100 form-control" [(ngModel)]="accessoryAssignment.forecastedReturnDate">
            </div>
        </div>
        <div class="form-group mt-3 mb-3">
            <label for="exampleFormControlTextarea1">Commento</label>
            <textarea class="form-control w-100" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" (click)="assignAccessory()" class="btn btn-sm btn-success w-25">Assegna</button>
    </form>
</div>