<div class="sidebar">
    <nav class="sidebar-menu-nav">
        <ul class="sidebar-menu">
            <li class="sidebar-menu-item">
                <a href="" class="menu-item-link">Home</a>
            </li>
            <li class="sidebar-menu-item">
                <a href="" class="menu-item-link">Studenti</a>
            </li>
            <li class="sidebar-menu-item">
                <a href="" class="menu-item-link">Computer</a>
            </li>
            <li class="sidebar-menu-item">
                <a href="" class="menu-item-link">Accessori</a>
            </li>
        </ul>
    </nav>
</div>
