<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    @if (isAdmin) {
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="#">Home</a>
          </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/students" routerLinkActive="active"
            >Studenti</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/courses">Corsi</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Magazzino</a
          >
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/stocks">Appalti / Stock</a></li>
            <li><a class="dropdown-item" routerLink="/pcs">PC</a></li>
            <li>
              <a class="dropdown-item" routerLink="/accessories">Accessori</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    }
    <div [class]="'d-flex me-3 ' + !isAdmin ? 'ms-auto' : '' ">
      <button
        class="nav-link"
        style="cursor: pointer; margin-left: auto"
        (click)="logout()"
      >
        Logout
      </button>
    </div>
  </div>
</nav>
