<header class="top-header">
    <nav class="header-nav">
        <ul class="header-menu">
            <li class="top-menu-item">
                <a href="" class="top-item-link">Home</a>
            </li>
            <li class="top-menu-item">
                <a href="" class="top-item-link">Studenti</a>
            </li>
            <li class="top-menu-item">
                <a href="" class="top-item-link">Computer</a>
            </li>
            <li class="top-menu-item">
                <a href="" class="top-item-link">Accessori</a>
            </li>
        </ul>
    </nav>
</header>