<div class="modal-wrapper">
    <form action="post" class="modal-form">
        <label for="Stockid">Stockid</label>
        <input type="number" name="stock_input" id="StockId">
        <label for="Serial">Serial</label>
        <input type="text" name="serial_input" id="Serial">
        <label for="PropertySticker">PropertySticker</label>
        <input type="text" name="cespite_input" id="PropertySticker">
        <label for="IsMuletto">Muletto</label>
        <select name="" id=""></select>
    </form>
</div>
