<div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <h3>Manager Corsi</h3>
        </div>
        <div class="row">
          <div class="col-12">
            <button class="btn btn-primary"><i class="fa fa-plus mr-1"></i><span>Aggiungi</span></button>
            <button class="btn btn-primary ml-1"><i class="fa fa-trash mr-1"></i><span>Elimina</span></button>
          </div>
        </div>
        <div class="row mt-2">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Matricola</th>
                <th>Corso</th>
                <th>Surname</th>
                <th>Nome</th>
                <th>Operazioni</th>
              </tr>
            </thead>
            <tbody>
              @for (s of displayStudents; track $index) {
              <tr (click)="selectStudent(s)">
                <td>{{ s.schoolIdentifierId }}</td>
                <td>{{ s.course.shortName }}</td>
                <td>{{ s.name }}</td>
                <td>{{ s.surname }}</td>
                <td>
                  <a class="btn btn-sm btn-primary" href="/students/{{ s.id }}">
                    <i class="fa-solid fa-folder-open"></i>
                  </a>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  