<div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <h3>Manager Corsi</h3>
        </div>
        <div class="row">
          <div class="col-12">
            <button (click)="createCourse()" class="btn btn-primary"><i class="fa fa-plus mr-1"></i><span>Aggiungi</span></button>
          </div>
        </div>
        <div class="row mt-2">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Codice corso</th>
                <th>Nome completo</th>
                <th>Data di inizio</th>
                <th>Data di fine</th>
                <th>Operazioni</th>
              </tr>
            </thead>
            <tbody>
              @for (c of courses; track $index) {
              <tr>
                <td>{{ c.shortName }}</td>
                <td>{{ c.fullName }}</td>
                <td>{{ c.dateStart | date: "dd/MM/yyyy" }}</td>
                <td>{{ c.dateEnd | date: "dd/MM/yyyy" }}</td>
                <td>
                  <a class="btn btn-sm btn-primary" (click)="openEditModal(c)">
                    <i class="fa-solid fa-pencil"></i>
                  </a>
                  <a class="btn btn-sm btn-primary" (click)="deleteCourse(c)">
                    <i class="fa-solid fa-folder-open"></i>
                  </a>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  