<div class="modal-header">
    <h4 class="modal-title">Corso</h4>
  </div>
  <div class="modal-body">
    <div class="row">
        <div class="col-12">
            <div class="mb-2">
                <label for="shortName" class="form-label">Codice corso</label>
                <input autocomplete=off type="text" class="form-control" id="shortName" [(ngModel)]="course.code" />
            </div>
            <div class="mb-2">
                <label for="shortName" class="form-label">Nome abbreviato</label>
                <input autocomplete=off type="text" class="form-control" id="shortName" [(ngModel)]="course.shortName" />
            </div>
            <div class="mb-2">
                <label for="fullName" class="form-label">Nome completo</label>
                <input autocomplete=off type="text" class="form-control" id="fullName" [(ngModel)]="course.fullName" />
            </div>
            <div class="mb-2">
                <label for="status">Status</label>
                <select class="form-select" id="status" [(ngModel)]="course.status">
                    <option value="STARTED">Attivo</option>
                    <option value="ENDED">Non attivo</option>
                </select>
            </div>
            <div class="row mb-2">
                <div class="col-6">
                    <div class="mb-2">
                        <label for="dateStart" class="form-label">Data di inizio</label>
                        <input autocomplete=off type="date" class="form-control" id="dateStart" [(ngModel)]="course.dateStart" />
                    </div>
                </div>
                <div class="col-6">
                    <div>
                        <label for="dateEnd" class="form-label">Data di fine</label>
                        <input autocomplete=off type="date" class="form-control" id="dateEnd" [(ngModel)]="course.dateEnd" />
                    </div>
                </div>
            </div>
            <div class="mb-2">
                <label for="location" class="form-label">Luogo</label>
                <input autocomplete=off type="text" class="form-control" id="location" [(ngModel)]="course.location" />
            </div>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button 
      type="button" 
      class="btn btn-primary"
      (click)="save()"
    >
      Salva
    </button>
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="activeModal.close(false)"
    >
      Chiudi
    </button>
  </div>
  