<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <h3>Manager Studenti</h3>
      </div>
      <div class="row">
        <div class="col-4">
          <form class="d-flex">
            <input
              class="form-control form-control-sm me-2"
              type="search"
              name="search"
              placeholder="Search"
              aria-label="Search"
                [(ngModel)]="search"
            />
            <button class="btn btn-sm btn-outline-success" type="submit" (click)="searchStudent()">
              Cerca
            </button>
          </form>
        </div>
        <div class="col-2 d-flex">
          <button (click)="openImport()" class="btn btn-sm btn-outline-success">
          <i class="fa-solid fa-file-import"></i>
          <span  class="ms-1">Importa studenti</span>
          </button>
        </div>
        <div class="col-6 d-flex justify-content-evenly">
          <button (click)="openBundleAssign()" class="btn btn-sm btn-outline-primary">
            <i class="fa-solid fa-boxes-packing"></i>
            <span  class="ms-1">Assegna Bundle</span>
          </button>
          <button (click)="openPcAssign()" class="btn btn-sm btn-outline-primary">
            <i class="fa-solid fa-laptop"></i>
            <span  class="ms-1">Assegna Pc</span>
          </button>
          <button (click)="openAccessoryAssign()" class="btn btn-sm btn-outline-primary">
            <i class="fa-solid fa-computer-mouse"></i>
            <span  class="ms-1">Assegna Accessori</span>
          </button>
        </div>
      </div>
      <div class="row mt-2">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Matricola</th>
              <th>Corso</th>
              <th>Surname</th>
              <th>Nome</th>
              <th>Operazioni</th>
            </tr>
          </thead>
          <tbody>
            @for (s of displayStudents; track $index) {
            <tr (click)="selectStudent(s)">
              <td>{{ s.schoolIdentifierId }}</td>
              <td>{{ s.course.shortName }}</td>
              <td>{{ s.name }}</td>
              <td>{{ s.surname }}</td>
              <td>
                <a class="btn btn-sm btn-primary" routerLink="/students/{{ s.id }}">
                  <i class="fa-solid fa-folder-open"></i>
                </a>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
