<!-- 
    <div>
        <button (click)="navigateTo('archivi-pc')">Upload Archivi PC</button>
        <button (click)="navigateTo('archivi-accessori')">Upload Archivi Accessori</button>
        <button (click)="navigateTo('archivi-studenti')">Upload Archivi Studenti</button>
    </div>
-->

<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <h3>Administration</h3>
            </div>
            <div class="row">
                <div class="col-2 d-flex">
                    <button (click)="openImport()" class="btn btn-sm btn-outline-success">
                        <i class="fa-solid fa-file-import"></i>
                        <span  class="ms-1">Importa studenti</span>
                    </button>
                </div>
                
                <div class="col-2 d-flex">
                    <button (click)="openImport()" class="btn btn-sm btn-outline-success">
                        <i class="fa-solid fa-file-import"></i>
                        <span  class="ms-1">Importa PC</span>
                    </button>
                </div>
                
                <div class="col-2 d-flex">
                    <button (click)="openImport()" class="btn btn-sm btn-outline-success">
                        <i class="fa-solid fa-file-import"></i>
                        <span  class="ms-1">Importa Accessori</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
