<!-- tabella computer -->

<table id="Pcs">

  <tr>
    <th>Id</th>
    <th>StockId</th>
    <th>Serial</th>
    <th>PropertySticker</th>
    <th>IsMuletto</th>
    <th>Status</th>
    <th>UseCycle</th>
    <th>Notes</th>
    <th>RegistrationDate</th>
    <th>RegistrationUser</th>
    <th>DeletedDate</th>
    <th>DeletedUser</th>
  </tr>

  <tr><td>1</td><td>1</td><td>serialtest123</td><td>propertytest1</td><td>false</td><td>statustest1</td><td>1</td><td>notestest1</td><td>2024-04-12 00:00:00</td><td>registrationusertest1</td><td>2024-04-12 00:00:00</td><td>deletedusertest1</td></tr>

  </table>

  <style>
    #Pcs {
      border-collapse: collapse;
      border: 1px solid #333;
    }

    #Pcs th, td {
      font-family: Arial, Helvetica, sans-serif;
      color: #333;
      border: 1px solid #333;
      padding: 0.75rem;
      text-align: center;
    }

    #Pcs th {
      background-color: #caa5a5;
    }

    #Pcs td {
      background-color: #f9e9e9;
    }

    #Pcs td:hover {
      background-color: rgb(181, 197, 149);
    }

  </style>
